
%shadows {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
   }
   
   * {
    box-sizing: border-box;
    font-family: Roboto, Nunito;
    scroll-behavior: smooth;
   }

   
   body{
       width: 100%;
   }
   
   body, p {
    margin: 0;
    padding: 0; 
   }

   
   body, p, textarea, input {
      font-family: Nunito, Helvetica;
      font-size: 1rem;
   }
   
   
   h1,h2,h3,h4,p{
      color: $text;
   }
   
   
   a,
   a:hover {
    color: inherit;
   }
   
   .nopadding {
    padding: 0 !important;
    margin: 0 !important;
   }
   
   .pointer {
    cursor: pointer;
   }
   
   .remove-paddings {
    padding-right: 0px !important;
   }
   
   input, select, textarea{
      border: 1px solid $grey;
   }
   
   
   input, select{
      padding: 8px 6px;
      border-radius: 4px;
      margin: 0 4px;
      width: calc(100% - 8px);
   }
   


   
   h1 {
      font-size: 2.5rem;
      line-height: 46px;
      font-weight: 700;
   }

   h2 {
      font-size: 2.2rem;
      line-height: 41px;
      font-weight: 700;
   }

   h3 {
      font-size: 1.9rem;
   }

   h4 {
      font-size: 1.6rem;
   }

   h5 {
      font-size:1.3rem;
   }

   h6 {
      font-size: 1rem;
   }

