
.list__content {
    counter-reset: my-awesome-counter;
    li {
        list-style-position: inside;
        counter-increment: my-awesome-counter;
        &.disc {
            list-style-type: disc;
        }
        &.circle {
            list-style-type: circle;
        }
        &.square {
            list-style-type: square;
        }
        &.roman {
            list-style-type: upper-roman;
        }  
        &.number {
            list-style-type:decimal;
        } 
        &.none {
            list-style-type: none;
        }
        &.bigger{
            font-size: $biggerFont;
        }
        &.big{
            font-size: $bigFont;
        }
        &.normal{
        font-size: $normalFont;
        }
        &.small{
            font-size: $smallFont;
        }    
        &.tiny{
            font-size: $tinyFont;
        }
        p{
            display: inline-block;
        }

        &.primary-bull::marker {
            color: $primary;
            font-weight: bold;
        }
        &.secondary-bull {
             color: $secondary;
            font-weight: bold;
            font-size: 1.3rem;
        }
        &.text-bull::marker {
            color: $text;
            font-weight: bold;
            font-size: 1.3rem;
        }
    }
   
      
    
    
}



.imageJsx{
    overflow: hidden;
    .imageJsx__img {
        width: 100%;
        overflow: hidden;
    }
}


//************//
//ICON TOOLTIP
//************//

.iconTooltip{
    position: relative;
    font-size: 1.2rem;
    border: none;
    background: none;
    cursor: pointer;
    color: $primary;
    &.primary {
        color: $primary;
    }
    &.secondary{
        color: $secondary;
    }
    &.text {
        color: $text;
    }
    a{
        color: inherit;
    }
    svg{
        color: inherit;
        font-size: 1.5rem;
      }
    .iconTooltip__label {
        position: absolute;
        border: 1px solid rgba($grey, 0.1);
        visibility: hidden;
        padding: 8px 16px;
        border-radius: 4px;
        font-size: 0.9rem;
        text-align: center;
        z-index: 2;
        background: $white-color;
        transform: translate(-40%);
        will-change: transform;
        outline-offset: 4px;
        &.top {
            left: 0;
            top: -175%;
        }
        &.bottom {
            left: 0;
            bottom: -175%;
        }
        &.right {
            right: -14%;
            top: 0;
        }
        &.left {
            top: 0;
            left: -175%;
        }
    }
}

.iconTooltip:active{
    transform: scale(0.9);
    transition:
    transform
    200ms
    ease-in;
}

.iconTooltip:hover > .iconTooltip__label {
    visibility: visible;
  } 



  //*********************
  // BOX CONTENT
  //*********************

  .boxContent {
      box-shadow: $box-shadow-medium;
      padding: 8px;
  }


  //**********************
  // CARD
//*********************

  .card__container {
    border-radius: 3px;
    box-shadow: $box-shadow-medium;
    background: #FFFFFF;
  }


  //******************************
  // VIDEO YOUTUBE
  //******************************

  .video__responsive {
    overflow: hidden;
    position: relative;
    @include useFlex(center, center);
    align-self: center;
  }

  //*********************
  // UNDERLINE
  //*********************

  .titleUnderline {
      position: relative;
      height: 4px;
  }
  .titleUnderline::before {
      content: "";
      position: absolute;
      border-top: 2px solid $primary;
      top: 8px;
      left: -32px;
      width:calc(100% + 64px);
}



//*********************
// DROPDOWN
//*********************

.dropdown__menu {
    will-change: visibility;
    visibility: hidden;
    position: absolute;
    top: 120%;
    background: $background;
    width: 100%;
    border-radius: 3px;
    box-shadow: $box-shadow-low;
    z-index: 3;
    &.horizonal {
        @include useFlex(space-between, center, row)
    }
    &.vertical {
        @include useFlex(space-between, center, column)
    }

    &.show {
        visibility: visible;
    }

    .dropdown__item {
        width: 100%;
        cursor: pointer;
        user-select: none;
    }
}