@import '../1-helpers/colors';
@import '../1-helpers/variables';

.buttonType {
    position: relative;
    border: none;
    padding: 12px 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0;
    color: white;
    letter-spacing: 0.05rem;
     &.primary-button {
        background: $primary;
     }
     &.secondary-button {
        background: $secondary;
     }
     &.text-button {
         color: $text;
        background: $white-color;
     }
}


.buttonType:disabled,
.buttonType[disabled]{
  position: relative;
  border: none;
  padding: 12px 16px;
  border-radius: 3px;
  border-color: $grey;
  cursor:not-allowed;
  margin-top: 0;
  color: $text;
  letter-spacing: 0.05rem;
  background: $grey;
}
