
.staticHero_titles {
    width: 44%;
    padding: 16px;
}

.mediaLinks{
    @include useFlex(space-between);
    width: 170px;
    background: $background;

}



.moduleList__link{
    color: $text;
    font-weight: normal;
    font-size: $bigFont;
    font-weight: bold;
    text-decoration: none;
}


.cardContent {
    padding: 32px 48px 0 48px;
}

.seeMore__label{
    width: 100%;
    border: none;
    @include useFlex(space-between, center);
    height: 52px;
    padding: 8px 32px;
    @include useBackgroundGradient(bottom);
    cursor: pointer;
    overflow: hidden;
    .seeMore__moduloRef {
        text-transform: uppercase;
        color: $text;
        font-weight: 700;
    }
    .seeMore__icon{
        color: $primary;
        font-size: $bigFont;
    }
}

.cardDropdown {
    transition: 0.45s max-height cubic-bezier(.3, .7, .4, 1);;
    overflow: hidden;
    will-change: max-height;
}





.freeTrial_btn {
    position: sticky;
    top: 15%;
    height: 100vh;
    width: 58px;
    display: flex;
    align-items: center;
    button {
        box-shadow: $box-shadow-low;
        transform: rotate(270deg);
        transform-origin: left top;
        font-size: 14px;
    }
}


.languageSelector {
    position: relative;
    margin-left: auto;
    margin-right: 32px;
    .langItem {
        text-align: center;
        color: $text;
        padding: 16px 8px;
        transition: ease-in-out background-color 0.2s;
    }
    .langItem:hover {
        color: $darker-text;
        background: rgba(0,0,0,0.1);
    }
}

.languageSelector__widget {
    display: flex;
    align-items: flex-start;
    gap: 0.6rem;
    .languageSelector__current {
        font-weight: bold;
        color: $darker-text;
        border-bottom: 2px solid $primary;
    }
    .languageSelector__chevron {
        color: $primary;
        cursor: pointer;
        font-size: 1.1rem;
        align-self: center;
    }
}